<% provide(:title, "Target") %>
 <div class =" container help-containar">
 　　<h2>当サイトの目的</h2>
  <div class="row no-gutters bg-light position-relative">
    <div class="col-md-4 mb-md-0 p-md-4  col-md-offset-2">
      <%= link_to image_tag('okane.png') %>
    </div>
    <div class="col-md-4 position-static p-4 pl-md-0">
      <h4 class="mt-0">集中してやりきる環境の提供:</h4>
      <p><br>心理学には「ピア効果」というものがあります。<br>仲間や同僚などが作用し、お互いの行動、生産性に影響を与え合うことをいいます。<br><br>ピア（仲間）が、同じ環境でお互いに切磋琢磨し合うことで、その集団がレベルアップするだけでなく、個々も成長するという相乗作用をもたらします。<br><br>当サイトはひとりで何かのスキルを身に着ける事も出来ますが、共に同じ夢に向かって頑張る仲間たちと一緒に努力する環境を提供します。</p>
    </div>
  </div>
  <div class="row no-gutters bg-light position-relative">
    <div class="col-md-4 mb-md-0 p-md-4  col-md-offset-2">
      <%= link_to image_tag('okane.png') %>
    </div>
    <div class="col-md-4 position-static p-4 pl-md-0">
      <h4 class="mt-0">生活費を理由に挫折させない:</h4>
      <p><br>地方から上京してきた人、そして現在学生の人は普段の家賃や生活費を稼ぐだけで手一杯な人も多いと思います。<br><br>シェアハウスでは比較的固定費を抑えることができるため金銭面の不安を解消させることが可能です。<br><br>余ったお金をスキルアップのためのお金に回すのも良いでしょう。</p>
    </div>
  </div>
  <div class="row no-gutters bg-light position-relative">
    <div class="col-md-4 mb-md-0 p-md-4  col-md-offset-2">
      <div class><%= link_to image_tag('okane.png') %></div>
    </div>
    <div class="col-md-4 position-static p-4 pl-md-0">
      <h4 class="mt-0">日々の何気ない時間の節約を:</h4>
      <p>共同生活をするメリットは多くありますが<br><br>仲間同士で家事などの役割分担をすることで一人暮らしでは考えられないくらいの自分の時間の確保ができるかもしれません。<br><br>時間の余裕は心の余裕にもつながるので快適なシェアハウス生活を送ることができるでしょう。</p>
    </div>
  </div>
 </div>