<div class="container container-m">
<div class="card-deck">
  <div class="card">
    <%= link_to image_tag("91883978-アイコン-ビル、お金、両替、現金-日本円-jpy-.jpg", alt: "Rails logo", width: "200px"),
                      "https://rubyonrails.org/" %>
   <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <%= link_to image_tag("toukon_nekketsu_48574-300x300.jpg", alt: "Rails logo", width: "200px"),
                      "https://rubyonrails.org/" %>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card hasional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <%= link_to image_tag("school_student_40321-300x300.jpg", alt: "Rails logo", width: "200px"),
                      "https://rubyonrails.org/" %>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is  additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>