<footer class="footer">
  <small>
    Designed by <a href="https://twitter.com/senba1007?lang=ja">千場俊輝</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>