<% provide(:title, 'All Properties') %>
<h1>All users</h1>

<ul class="users">
  <% @properties.each do |property| %>
    <li>
      <%= gravatar_for property, size: 50 %>
      <%= link_to property.name, user %>
    </li>
  <% end %>
</ul>